

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
    color: #fff;
}

body{
    height: 100vh;
    background: url(../img/jeremy-thomas-E0AHdsENmDg-unsplash.jpg) no-repeat center/cover;
}

section{
    background-color: #F62B54;
    font-size: 1.2rem;
    width: 21em;
    height: 13em;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 1em;
}
h1{
    margin: 2.3em 1em 0em 1em;
    font-size: 2rem;
    text-decoration: underline;
}

p{
    margin: 1.5em 3em 0em 1.8em;
}

i{
    position: absolute;
    top: 1.1em;
    right: 1.1em;
}